<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="stuDaoImp" class="com.hzj.dao.StuDaoImp" scope="singleton" />

    <bean id="stuServicesImp" class="com.hzj.services.StuServicesImp" >
        <property name="stuDao" ref="stuDaoImp" />
    </bean>

    <bean id="stuServicesImp2" class="com.hzj.services.StuServicesImp2" >
        <property name="stuDao" ref="stuDaoImp" />
    </bean>

</beans>